@{
    ViewData["Title"] = "Swift Maids";
}

<div class="jumbotron alert-heading" style="background-color: cadetblue; box-shadow: 1px 1px 1px; border-radius: 20px;">
    <h1 class="display-4"><i class="fa fa-hashtag" style="font-size:24px"></i>Swift Maids Cleaning Service</h1>
    <p class="lead">
        Swift Maids resource app allows you to schedule your cleaning service, select the type of service you need,
        pay your bill and sign up for discounts!
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get your office cleaned</h2>
        <p>
            Sign up now with Swift Maids to get your office cleaned<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pay your bill</h2>
        <p>Swift Maids app allows you to pay your bill from your clean office.</p>
    </div>
    <div class="col-md-4">
        <h2>Professional Staff</h2>
        <p>Our staff have all studied the art of cleaning so you don't have to!</p>
    </div>
</div>
<div class="row">
    <img src="~/images/Office.jpg" alt="office cleaning" asp-append-version="true"
         class="float-left img-fluid col-sm-4 rounded-sm" />
    <img src="~/images/environment.jpg" alt="clean space" asp-append-version="true"
         class="float-left img-fluid col-sm-4 rounded-sm" />
    <img src="~/images/professional.jpg" alt="professional staff" asp-append-version="true"
         class="float-left img-fluid col-sm-4 rounded-sm" />
</div>
